* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@media print {
    .hidden-print, .no-print * {
      visibility: hidden;
      display: none !important;
    }
}

:root {
  --bg-utama: #0c0e12;
  --bg-kedua: #262626;
  --kuning: #f8cf32;
  --font-kuning: #f8cf32;
  --font-putih: #f2f2f2;
}


body {
  background:var(--bg-utama)
}

.home{
  text-align: justify;
  margin-left: 210px;
  margin-right: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.wrapper{
  font-family: 'Montserrat', sans-serif;
  float: left;
  width: 100%;
  position: relative;
}

/* Menu */
.menu-btn{
  display: none;
}

.side-btn{
  display: none;
}


/* Sidebar */
#page-sidebar{
  height: 100px;
  height: 10em;
  height: 99vh;
  width: 200px;
  float: left;
  position: relative;
  margin-right: -100%;
  z-index: 160;
  min-height: 100px;
  transition: .9s;
}

.sidebar{
  background-color: var(--bg-kedua);
  width: 200px;
  left: 0;
  top: 0;
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
  margin-top: 40px;
  min-height: 100px;
  border-radius: 0px 0px 0px 0px;
  overflow-y: auto;
  transition: .9s;
} 
  
.sidebar header {
  text-transform: capitalize;
  font-size: 25px;
  color: var(--bg-utama);
  line-height: 25px;
  text-align: center;
  user-select: none;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  background-color: var(--kuning);
  border-radius: 0px 0px 0px 0px;
}

.sidebar .sidemenu .item{
  position: relative;
  cursor: pointer;
}

.item a{
   text-decoration: none;
   line-height: 40px;
   font-size: 18px;
   color: var(--font-kuning);
   padding-left: 25px;
   transition: .6s;
   display: block;
}

.item a:hover{
  padding-left: 35px;
}

.last-menu{
 margin-bottom: 180px;
}

.icon{
  margin-right: 10px;
  margin-bottom: 15px;
}


.sidebar .item .sub-btn{
  user-select: none;
  text-transform:capitalize;
  font-size: 22px;
  color: var(--bg-utama);
  line-height: 30px;
  text-align: justify;
  padding: 10px 0px 0px 25px;
  background-color: var(--kuning);
}

.sidebar .item a .dropdown{
  font-size: 20px;
  position: absolute;
  right: 25px;
  margin: 5px;
  transition: 0.5s ease;
}

.sidebar .item .sub-menu{
  margin-bottom: 25px;
  display: none;
}

#page-sidebar.sidebar-hp{
  left: 0;
}

.sidebar.sidebar-alpha{
  opacity: 100%;
}

.sub-item{
  margin-top: 5px;
}

.rotate{
  transform: rotate(90deg);
}

/* Notifikasi */
.alert {
  text-align: center;
  font-weight: bolder;
  position: absolute;
  font-size: 14px;
  padding: 10px;
  display: block;
  right: 10px;
  width: 40vh;
  transition: .5s;
  border: none;
  background: var(--kuning);
  transition: .5s;
  top: 5px;
}

.alert .close{
  scale: 200%;
  font-weight: bold;
  text-align: center;
  margin-left: 25px;
  background: none;
  border: none;
  color: var(--bg-utama);
}

.hilang{
  transition: .9s;
  right: -100%;
}

.hp-close{
  transition: .9s;
  opacity: 0;
}

/* Kolom inputan */
.inputan{
  width: 100%;
}

.inputan h1{
  font-weight: bolder;
  color: var(--font-kuning);
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.inputan .form-group{
  font-size: 18px;
  margin-top: 20px;
  color: var(--font-kuning);
  text-align: center;
  margin-bottom: 10px;
}

.kolom_input{
  text-align: center;
}

.kolom_input input{
  text-align: center;
  height: 40px;
  width: 300px;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 0.2rem;
  border: 2px solid var(--kuning);
  outline: none;
  background-color: var(--bg-kedua);
  color: var(--font-kuning);
}

.kolom_input input::placeholder{
  color: var(--font-putih);
  opacity: 70%;
}

.tombol-add button{
  font-weight: bolder;
  font-size: 16px;
  background: var(--kuning);
  color:var(--bg-kedua);
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
  padding: 10px;
  transition: .5s;
  border: none;
}
.page-table{
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
  color: var(--font-kuning);
}
#btnPrint{
  font-weight: bolder;
  font-size: 16px;
  background: var(--kuning);
  color:var(--bg-kedua);
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  padding: 10px;
  transition: .5s;
  border: none;
}

button:hover{
  cursor: pointer;
  scale: 120%;
  
}



/* Tabel */
.page-table h1{
  text-align: center;
  margin: 25px 0 50px 0;
}

.page-table ul{
  list-style: none;
  list-style-position: none;
  list-style-image: none;
  list-style-type: none;
}

.page-table{
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
  color: var(--font-kuning);
}

.note1{
  color: var(--font-kuning);
}

.data-table{
  margin-bottom: 25px;
}

.page-table .close {
  font-weight: bolder;
  font-size: 30px;
  border: none;
  background: none;
  color: var(--font-putih);
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
  transition: .5s;
}


/* Mata uang rupiah */
.rupiah::before{
  content: "Rp ";
}



/* max-height: 100px;
  width: 50%;
  
  justify-content: center;
  align-items: center;
  display: table-cell;
   */

/* About */
.avatar1{   
  width: 250px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin: 15px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.avatar1 img{
  margin-right: 15px;
  float: none;
  height: 50px;
  width: auto;
}

.about-group h3{
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
}

.about-group{
  color: var(--font-kuning);
  margin-top: 25px;
  font-size: 14px;
}

.account-avatar{
  position: absolute;
  top: 10px;
  right: 0px;
  height: 50px;
  margin-right: 15px;
  align-content: center;
  display: flex;
  align-items: center;
  color: var(--font-kuning);
}

.account-avatar img{
  margin-left: 25%;
  height: 50px;
  width: 50px;
}


.kata{
  width: 50%;
  border: 2px solid var(--kuning);
  padding: 32px;
  margin: 25px;
  box-shadow: 15px 15px 1px var(--kuning);
}

.kata-kata{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--font-kuning);
}

/* Profile */

.profile{
  text-align: left;
  font-size: 16px;
  margin: 100px 0 0 25%;
  color: var(--font-kuning);
}

.user-avatar img{
  margin-top: 35px;
  width: 80px;
}

.user-email::before{
  content: "Email : ";
}
.user-email{
 margin-top: 30px;
}

.user-name{
  
  margin-top: 2%;
}

.user-name::before{
  content: "Username : ";
}


/* Saldo */
#saldo{
  font-size: 22px;
  color: var(--font-kuning);
  position: relative;
  top: 25px;
  margin-left: 15px;
}





/* konfirmasi penghapusan data */
.modal {
  display: none; /* Initially hide the modal */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  
}

.modal-center{
  margin-left: 210px;
  margin-right: 10px;
  margin-top: 20%;
}

.modal-content {
  color: var(--font-kuning);
  background-color: var(--bg-kedua);
  padding: 0px 30px 30px 30px;
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  transition: .5s;
  border: solid var(--kuning);
}

.modal-content h1{
  color: var(--font-kuning);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#modal-cancel-btn {
  font-size: 14px;
  font-weight: bold;
  background: none;
  color: var(--font-kuning);
  padding: 5px 10px;
  border: 2px solid var(--kuning);
  margin-right: 10px;
  border-radius: 5px;
}

#modal-delete-btn {
  font-size: 14px;
  font-weight: bold;
  background: none;
  color: var(--font-kuning);
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--kuning);
}

/* Tombol cari */

#searchInput{
  color: var(--font-kuning);
  background: none;
  border-radius: 5px;
  border: 2px solid var(--kuning);
  padding: 5px 5px 5px 5px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 200;
}

#searchInput::placeholder{
  color: var(--font-putih);
  opacity: .8;
}



@media screen and (max-width: 600px) {
  .kata {
    width: 60%;
    font-size: 12px;
  }
  #page-sidebar{
    left: -100%;
  }
  .home{
    margin-left: 10px;
    margin-right: 10px;
  }
  .menu-btn{
    left: 0;
    display: block;
    color: var(--kuning);
    position: absolute;
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    border: solid var(--kuning);
    border-radius: 5px;
  }

  .page-table{
    font-size: 14px;
  }

  .side-btn{
    display: block;
    position: absolute;
    color: var(--kuning);
    font-size: 30px;
    left: 220px;
    top: 45px;
  }
  #saldo{
    top: 20px;
    left: 15%;
  }



  .modal-content{
    scale: 90%;
  }

  .modal-center{
    margin-left: 0px;
    margin-right: 60px;
    margin-top: 50%;
  }
}


