<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pemasukan</title>
  <link rel="icon" href="/static/img/ava.ico">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_Main.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/ab35245f27.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript">
    $("#btnPrint").live("click", function () {
      var divContents = $("#notes").html();
      var printWindow = window.open('', '', 'height=400,width=800');
      printWindow.document.write('<link rel="stylesheet" href="/static/css/table.css" />');
      printWindow.document.write('</head><body >');
      printWindow.document.write(divContents);
      printWindow.document.write('</head><body >');
      printWindow.document.write("<style> th:nth-child(4){display:none;} </style>");
      printWindow.document.write("<style> td:nth-child(4){display:none;} </style>");
      printWindow.document.write("<style> btnPrint{display:none;} </style>");
      printWindow.document.close();
      printWindow.print();
    });
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div class="wrapper">
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>

    <div id="page-sidebar">
      <div class="side-btn">
        <i class="fas fa-times"></i>
      </div>
      <div class="sidebar">
        <header>Pemasukan</header>
        <div class="sidemenu">
          <div class="item"><a href="/"><i class="fas fa-home icon"></i>Home</a></div>
          <div class="item"><a href="/pemasukan"><i class="fa-solid fa-hand-holding-dollar icon"></i>Pemasukan</a></div>
          <div class="item"><a href="/pengeluaran"><i class="fa-solid fa-cart-shopping icon"></i>Pengeluaran</a></div>
          <div class="last-menu item"><a href="/about"><i class="fa-regular fa-circle-question icon"></i>About</a></div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-bars icon"></i>Menu<i class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu">
              <li><a href="/profile" class="sub-item"><i class="fa-solid fa-user icon"></i> Account</a></li>
              <li><a href="/logout" class="sub-item"><i class="fa-solid fa-right-from-bracket icon"></i> Log Out</a></li>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="home">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}

      <div class="inputan">
        <h1>Pemasukan</h1>
        <form method="POST">
          <div class="form-group form-1">
            <label for="note">Jenis Pemasukan:</label>
          </div>
          <div class="kolom_input">
            <input type="note" class="form-control" id="note" placeholder="Masukkan Nama Pemasukkan" name="note">
          </div>
          <div class="form-group form-1">
            <label for="jumlah">Jumlah Pemasukkan:</label>
          </div>
          <div class="kolom_input">
            <input type="jumlah" class="form-control" id="jumlah" placeholder="Masukkan Jumlah Pemasukkan"
              name="jumlah">
          </div>
          <br />
          <div class="tombol-add">
            <button type="submit" class="btn btn-primary">Add Note</button>
          </div>
        </form>
      </div>

      <div class="page-table">
        <h1>Tabel Pemasukan</h1>
        <ul class="list-group list-group-flush" id="notes">
          <table id="table1" class="data-table">
            <tr>
              <th>Nama</th>
              <th>Jumlah</th>
              <th>Bulan</th>
              <th style="width:5%">Hapus</th>
            </tr>
            </tbody>
            {% for note in user.notes %}
            <tr>
              <td>{{ note.data }}</td>
              <td class="rupiah">{{ note.jumlah }}</td>
              <td>{{ note.date.strftime("%B") }}</td>
              <td>
                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                  <span align="center" aria-hidden="true">&times;</span>
                </button>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          <span id="val"></span>
        </ul>
      </div>
      <input class="no-print" type="button" value="Print Pengeluaran" id="btnPrint" />
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='hapus_pemasukan.js') }}"></script>
  <script>

    var table = document.getElementById("table1"), sumVal = 0;

    for (var i = 1; i < table.rows.length; i++) {
      sumVal = sumVal + parseFloat(table.rows[i].cells[1].innerHTML);
    }

    document.getElementById("val").innerHTML = "Jumlah Total = Rp " + sumVal;
    console.log(sumVal);

  </script>
  
  <script type="text/javascript">
    $(document).ready(function(){
      //jquery for toggle sub menus
      $('.sub-btn').click(function() {
        $(this).next('.sub-menu').slideToggle();
        $(this).find('.dropdown').toggleClass('rotate');
      });

      $('.menu-btn').click(function () {
        $('#page-sidebar').addClass('sidebar-hp');
        $('.sidebar').addClass('sidebar-alpha');
        $('.menu-btn').addClass('hp-close');
      });

      $('.side-btn').click(function () {
        $('#page-sidebar').removeClass('sidebar-hp');
        $('.menu-btn').removeClass('hp-close');
      });

    });
  </script>


    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

</body>

</html>