<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pemasukan</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_Main.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/ab35245f27.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">


</head>

<body>
  <div class="wrapper">

    <div id="page-sidebar">
      <div class="sidebar">
        <header>Catatan Keuangan</header>
        <div class="sidemenu">
          <li><a href="/"><i class="fas fa-home icon"></i>Home</a></li>
          <li><a href="/pemasukan"><i class="fa-solid fa-hand-holding-dollar icon"></i>Pemasukan</a></li>
          <li><a href="/pengeluaran"><i class="fa-solid fa-cart-shopping icon"></i>Pengeluaran</a></li>
          <li><a href="/about"><i class="fa-regular fa-circle-question icon"></i>About</a></li>
          
          
          <div class="menu">
            <li><a href=""><i class="fa-solid fa-bars icon"></i>Menu</a></li>
            <div class="menu-list">
              <li><a href="/profile">Account</a></li>
              <li><a href="/logout">Sign Out</a></li>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="home">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}

      <div class="inputan">
        <h1>Pemasukan</h1>
        <form method="POST">
          <div class="form-group form-1">
            <label for="note">Jenis Pemasukan:</label>
          </div>
          <div class="kolom_input">
            <input type="note" class="form-control" id="note" placeholder="Masukkan Nama Pemasukkan" name="note">
          </div>
          <div class="form-group form-1">
            <label for="jumlah">Jumlah Pemasukkan:</label>
          </div>
          <div class="kolom_input">
            <input type="jumlah" class="form-control" id="jumlah" placeholder="Masukkan Jumlah Pemasukkan"
              name="jumlah">
          </div>
          <br />
          <div class="tombol-add">
            <button type="submit" class="btn btn-primary">Add Note</button>
          </div>
        </form>
      </div>

      <div class="page-table">
        <h1>Tabel Pemasukan</h1>
        <ul class="list-group list-group-flush" id="notes">
          <table id="table1" class="data-table">
            <tr>
              <th>Nama</th>
              <th>Jumlah</th>
              <th style="width:5%">Hapus</th>
            </tr>
            </tbody>
            {% for note in user.notes %}
            <tr>
              <td>{{ note.data }}</td>
              <td class="rupiah">{{ note.jumlah }}</td>
              <td>
                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                  <span align="center" aria-hidden="true">&times;</span>
                </button>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          <span id="val"></span>
        </ul>
      </div>

    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='hapus_pemasukan.js') }}"></script>
  <script>

    var table = document.getElementById("table1"), sumVal = 0;

    for (var i = 1; i < table.rows.length; i++) {
      sumVal = sumVal + parseFloat(table.rows[i].cells[1].innerHTML);
    }

    document.getElementById("val").innerHTML = "Jumlah Total = Rp " + sumVal;
    console.log(sumVal);

  </script>
</body>

</html>