<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pengeluaran</title>
  <link rel="icon" href="/static/img/ava.ico">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_Main.css') }}" media="screen, print">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/ab35245f27.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript">
    $("#btnPrint").live("click", function () {
      var divContents = $("#notes").html();
      var printWindow = window.open('', '', 'height=400,width=800');
      printWindow.document.write('<link rel="stylesheet" href="/static/css/table.css" />');
      printWindow.document.write('</head><body >');
      printWindow.document.write(divContents);
      printWindow.document.write('</head><body >');
      printWindow.document.write("<style> th:nth-child(4){display:none;} </style>");
      printWindow.document.write("<style> td:nth-child(4){display:none;} </style>");
      printWindow.document.write("<style> btnPrint{display:none;} </style>");
      printWindow.document.close();
      printWindow.print();
    });
  </script>
</head>

<body>
  <div class="wrapper">
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
    <div id="page-sidebar">
      <div class="side-btn">
        <i class="fas fa-times"></i>
      </div>
      <div class="sidebar">
        <header>Pengeluaran</header>
        <div class="sidemenu">
          <div class="item"><a href="/"><i class="fas fa-home icon"></i>Home</a></div>
          <div class="item"><a href="/pemasukan"><i class="fa-solid fa-hand-holding-dollar icon"></i>Pemasukan</a></div>
          <div class="item"><a href="/pengeluaran"><i class="fa-solid fa-cart-shopping icon"></i>Pengeluaran</a></div>
          <div class="last-menu item"><a href="/about"><i class="fa-regular fa-circle-question icon"></i>About</a></div>
          <div class="item">
            <a class="sub-btn"><i class="fa-solid fa-bars icon"></i>Menu<i class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu">
              <li><a href="/profile" class="sub-item"><i class="fa-solid fa-user icon"></i> Account</a></li>
              <li><a href="/logout" class="sub-item"><i class="fa-solid fa-right-from-bracket icon"></i> Log Out</a>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="dvContainer" class="home">
      <p id="saldo"></p>

      
      <div id="confirm-delete-modal" class="modal">
        <div class="modal-center">
        <div class="modal-content">
          <h1>Pengingat</h1>
            <p>Apakah kamu yakin akan menghapusnya?</p>
            <div class="modal-buttons">
                <button id="modal-cancel-btn">Batal</button>
                <button id="modal-delete-btn">Hapus</button>
             </div>
         </div>
        </div>
      </div>



      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% endif %} {% endfor %} {% endif %} {% endwith %}
      <div class="inputan">
        <h1>Pengeluaran</h1>
        <form method="POST">
          <div class="form-group form-1">
            <div class="note1">Jenis Pengeluaran:</div>
          </div>
          <div class="kolom_input">
            <input type="note1" class="form-control" id="note1" placeholder="Masukkan Nama Pengeluaran" name="note1">
          </div>
          <div class="form-group form-1">
            <div class="jumlah1">Jumlah Pengeluaran:</div>
          </div>
          <div class="kolom_input">
            <input type="jumlah1" class="form-control" id="jumlah1" placeholder="Masukkan Jumlah Pengeluaran"
              name="jumlah1">
          </div>
      </div>
      <br />
      <div class="tombol-add">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
      </form>


      <div class="page-table">
        <h1>Tabel Pengeluaran</h1>

        <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Cari data...">

        <ul class="list-group list-group-flush" id="notes">
          <li class="list-group-item">
            <table id="table2" class="data-table">
              <tr>
                <th>Nama</th>
                <th>Jumlah</th>
                <th>Bulan</th>
                <th style="width:5%">Hapus</th>
              </tr>
              {% for note1 in user.notes1 %}
              <tr>
                <td>{{ note1.data1 }}</td>
                <td class="rupiah">{{ note1.jumlah1 }}</td>
                <td>{{ note1.date.strftime("%B") }}</td>
                <td>
                  <button type="button" class="close" onClick="deleteNote({{ note1.id }})">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>
              </tr>
              {% endfor %}
          </li>
          </table>
          <span id="val2">error</span>
      </div>
      <input class="no-print" type="button" value="Print Pengeluaran" id="btnPrint" />
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='hapus_pengeluaran.js') }}"></script>
  
  <script>
    // Fungsi untuk mencari data
    function searchTable() {
      // Dapatkan input dari field pencarian
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("table2");
      tr = table.getElementsByTagName("tr");
  
      // Loop melalui semua baris tabel dan sembunyikan yang tidak sesuai dengan input pencarian
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>



  <script>
    var sumVal = localStorage.getItem("sumVal");
    var sumVal2 = localStorage.getItem("sumVal2");
    var saldo = sumVal - sumVal2;
    var saldoRp = saldo.toLocaleString('id-ID', { style: 'currency', currency: 'IDR' });
    var saldoRpClean = saldoRp.replace(/,/g, "").slice(0,-2);
    document.getElementById("saldo").innerHTML = "Saldo : " + saldoRpClean;
  </script>
  
  <script>

    var table2 = document.getElementById("table2"), sumVal2 = 0;

    for (var i = 1; i < table2.rows.length; i++) {
      sumVal2 = sumVal2 + parseFloat(table2.rows[i].cells[1].innerHTML);
    }
    var sumVal2Rp = sumVal2.toLocaleString('id-ID', { style: 'currency', currency: 'IDR' });
    var sumVal2RpClean = sumVal2Rp.replace(/,/g, "").slice(0,-2);
    document.getElementById("val2").innerHTML = "Jumlah Total = " + sumVal2RpClean;
    localStorage.setItem("sumVal2", sumVal2);
    console.log(sumVal2);
  </script>



<script type="text/javascript">
  $(document).ready(function(){
    //jquery for toggle sub menus
    $('.sub-btn').click(function() {
      $(this).next('.sub-menu').slideToggle();
      $(this).find('.dropdown').toggleClass('rotate');
    });

    $('.menu-btn').click(function () {
      $('#page-sidebar').addClass('sidebar-hp');
      $('.sidebar').addClass('sidebar-alpha');
      $('.menu-btn').addClass('hp-close');
    });

    $('.side-btn').click(function () {
      $('#page-sidebar').removeClass('sidebar-hp');
      $('.menu-btn').removeClass('hp-close');
    });
    $('.side-btn').click(function () {
          $('#page-sidebar').removeClass('sidebar-hp');
        });
  });
</script>

<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"
></script>

</body>

</html>