<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="icon" href="/static/img/ava.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_Main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ab35245f27.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="wrapper">
      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
  
        <div id="page-sidebar">
          <div class="side-btn">
            <i class="fas fa-times"></i>
          </div>
            <div class="sidebar">
                <header>Profile</header>
                <div class="sidemenu">
                    <div class="item"><a href="/"><i class="fas fa-home icon"></i>Home</a></div>
                    <div class="item"><a href="/pemasukan"><i class="fa-solid fa-hand-holding-dollar icon"></i>Pemasukan</a></div>
                    <div class="item"><a href="/pengeluaran"><i class="fa-solid fa-cart-shopping icon"></i>Pengeluaran</a></div>
                    <div class="last-menu item"><a href="/about"><i class="fa-regular fa-circle-question icon"></i>About</a></div>
                    <div class="item">
                      <a class="sub-btn"><i class="fa-solid fa-bars icon"></i>Menu<i class="fas fa-angle-right dropdown"></i></a>
                      <div class="sub-menu">
                        <li><a href="/profile" class="sub-item"><i class="fa-solid fa-user icon"></i> Account</a></li>
                        <li><a href="/logout" class="sub-item"><i class="fa-solid fa-right-from-bracket icon"></i> Log Out</a></li>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="home">
            <div class="profile">
                <h1>Profile</h1>
                <div class="user-avatar">
                  <img src="/static/img/user.png" alt="Hilang ditembak Petrus"></div>
                <div class="user-email">{{user.email}}</div>
                <div class="user-name">{{user.first_name}}</div>
            </div>
        </div>

    </div>


    <script type="text/javascript">
      $(document).ready(function(){
        //jquery for toggle sub menus
        $('.sub-btn').click(function() {
          $(this).next('.sub-menu').slideToggle();
          $(this).find('.dropdown').toggleClass('rotate');
        });

        $('.menu-btn').click(function () {
          $('#page-sidebar').addClass('sidebar-hp');
          $('.sidebar').addClass('sidebar-alpha');
          $('.menu-btn').addClass('hp-close');
        });

        $('.side-btn').click(function () {
          $('#page-sidebar').removeClass('sidebar-hp');
          $('.menu-btn').removeClass('hp-close');
        });

      });
    </script>

</body>

</html>